.main-box{
    position: absolute;
    right: -500px; 
    width: 500px;
    height: 600px;
    border: 2px solid #4AF626;
    background-color: black;
    color: #4af626;
    font-family: 'OCR A Std', sans-serif;
    border-radius: 0;
    margin: 50px auto;
}

@keyframes slideIn {
  from {
    right: -500px;
  }
  to {
    right: 20px;
  }
}

.slide-in {
  animation: slideIn 0.5s forwards ease-in-out;
}

@keyframes slideOut {
  from {
    right: 20px;
  }
  to {
    right: -500px;
  }
}

.slide-out {
  animation: slideOut 0.5s forwards ease-in-out;
}


.top-box{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    padding: 5px;
    border-bottom: 2px solid #4AF626;
}

.close-button{
    background: none;
    border: none;
    color: #4AF626;
    font-size: 20px;
    cursor: pointer;
}

.title-text{
    color: #4AF626;
    font-size: 24px;
    margin-bottom: 10px;
}

.fa-times{
    color: inherit;
    font-size: 20px;
    cursor: pointer;
}