.entry-box-mobile {
  width: 500px;
  border-width: 2px;
  border-style: solid;
  border-color: #4AF626;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: none;
  color: #4AF626;
}

@media (max-width: 550px) {
  .entry-box-mobile {
    width: 100%;
  }
}
